<?xml version="1.0" encoding="utf-8"?>
<manifest package="hpu.dingyue"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".DingYueApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".InfoActivity"/>
        <activity android:name=".ChatActivity" android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".ExpandableListViewActivity"/>
        <activity android:name=".Test2Activity"/>
        <activity android:name=".RadioActivity"/>
        <activity android:name=".fragment.TabLayoutActivity"
            android:configChanges="screenSize|orientation"/>
        <activity android:name=".rxbus.RxBusActivity"
                  android:theme="@style/MyTheme"/>
        <activity android:name=".RefreshTestActivity"/>
        <activity android:name=".refreshActivity.ListViewActivity"/>
        <activity android:name=".refreshActivity.RecyclerViewActivity"/>
        <activity android:name=".refreshActivity.ScrollViewActivity"/>
        <activity android:name=".ImageActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name=".ConstraintLayoutActivity"/>
        <activity android:name=".GoBackActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name=".TranslateActivity"
            />
        <activity android:name=".CaptureActivity"
                  android:theme="@style/MyTheme"/>
        <activity android:name=".modules.setting.SettingActivity"/>
        <activity android:name=".DemoActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Demo2Activity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56df05bce0f55acbbf000717">
    </meta-data>
    <meta-data
        android:name="UMENG_MESSAGE_SECRET"
        android:value="e8afe8d54fdf595a06ee18e4877d5adb">
</meta-data>
    </application>

</manifest>
